footer {
    text-align: center;
    background-color: rgba(31, 31, 31, 0.37);
    color: white;
    padding:5px;
    font-size: .8rem;
    letter-spacing: 7px;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    margin:0 auto;
    width: 100%;
}

a {
    color:white;
    text-decoration: none;
}

@media (max-width: 992px) {
    .text-break {
        display: block;
    }
}