footer {
    text-align: center;
    background-color: rgba(31, 31, 31, 0.37);
    color: white;
    font-family: 'Karla', sans-serif;
    padding:5px;
    font-size: .9rem;
    font-weight: 200;
    line-height: .7;
    /* letter-spacing: 7px; */
    /* text-transform: uppercase; */
    position: fixed;
    bottom: 0;
    margin:0 auto;
    width: 100%;
}

a {
    color:white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #0e3d8f;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}

@media (max-width: 992px) {
    .text-break {
        display: block;
    }
}