
body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
  letter-spacing: 2.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;
}
